<html>
	<h1>Bento!</h1>
	<label for="editor">Editor</label>
	<br/>
	<textarea id="editor" name="editor" rows="10" cols="50"></textarea>
	<br/>
	<button onclick="postData()">Save</button>
<script>
	let old = "";
	let hash = {{parent}};
	let docid = {{doc_id}};
	
	function hashCode(str) {
		return str.split('').reduce((prevHash, currVal) =>
			(((prevHash << 5) - prevHash) + currVal.charCodeAt(0))|0, 0);
	}
	
	async function postData()
	{
		let text = document.getElementById('editor').value;
		if (text != old)
		{
			console.log('Posting diff');
			let diff = {
				'time':new Date().getTime(),
				'diff':text,
				'author':'toben',
				'DocID':docid,
				'parent':hash
			}
			hash = hashCode(JSON.stringify(diff));
			diff['hash'] = hash;
			const response = await fetch('http://localhost:5000/api/diff/' + docid, {
				method: 'POST',
				mode: 'cors',
				headers: {'Content-Type': 'application/json'},
				body: JSON.stringify(diff)
			});
			
			old = text;
			console.log(response);
			return response;
		}
	}
</script>
</html>
