<html>
	<h1>Bento!</h1>
	<button  onclick="new_doc()">New</button>
	<select id="doc_list">
		{% for doc in docs %}
			<option value="{{doc['id']}}">{{doc['name']}}</option>
		{% endfor %}
	</select>
	<button onclick="load_doc()">Load</button>
	<script>
	async function new_doc()
	{
		let name = prompt("Name of new document: ","Untitled");
		console.log(name);
		const response = await fetch('http://localhost:5000/api/doc/', {
			method: 'POST',
			mode: 'cors',
			headers: {'Content-Type': 'application/json'},
			body: JSON.stringify({name:name, author:'Toben', path:'/'})})
			.then(function(resp) {
				return resp.json();
			}).then(function(data) {
				let url = '/doc/' + data['docid'];
				console.log(url);
				window.location = url;
			});
		
	}
	
	function load_doc()
	{
		let l = document.getElementById("doc_list");
		let url = "/doc/" + l.options[l.selectedIndex].value;
		console.log(url);
		window.location = url;
	}
	</script>
</html>
